<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ID_101.bmp.PNG</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{854,16}</string>
                <key>spriteSourceSize</key>
                <string>{854,16}</string>
                <key>textureRect</key>
                <string>{{762,2},{854,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>加载中....png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,41}</string>
                <key>spriteSourceSize</key>
                <string>{139,41}</string>
                <key>textureRect</key>
                <string>{{410,1884},{139,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 0(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1700,720}</string>
                <key>spriteSourceSize</key>
                <string>{1700,720}</string>
                <key>textureRect</key>
                <string>{{2,2},{1700,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,474}</string>
                <key>spriteSourceSize</key>
                <string>{178,474}</string>
                <key>textureRect</key>
                <string>{{410,1704},{178,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,406}</string>
                <key>spriteSourceSize</key>
                <string>{230,406}</string>
                <key>textureRect</key>
                <string>{{2,1704},{230,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>圆角矩形 1(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,24}</string>
                <key>spriteSourceSize</key>
                <string>{55,24}</string>
                <key>textureRect</key>
                <string>{{551,1884},{55,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>组 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{895,36}</string>
                <key>spriteSourceSize</key>
                <string>{895,36}</string>
                <key>textureRect</key>
                <string>{{724,2},{895,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{886,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de8b4da34da434fd78fdc50a809926f1:29cb4ef18e8917c5790bd46d7702d413:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
