<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,22}</string>
                <key>spriteSourceSize</key>
                <string>{25,22}</string>
                <key>textureRect</key>
                <string>{{912,841},{25,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>=.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,19}</string>
                <key>spriteSourceSize</key>
                <string>{21,19}</string>
                <key>textureRect</key>
                <string>{{666,1130},{21,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_22.bmp_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,229}</string>
                <key>spriteSourceSize</key>
                <string>{326,229}</string>
                <key>textureRect</key>
                <string>{{1037,89},{326,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_27.bmp_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,193}</string>
                <key>spriteSourceSize</key>
                <string>{321,193}</string>
                <key>textureRect</key>
                <string>{{1268,89},{321,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_28.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,91}</string>
                <key>spriteSourceSize</key>
                <string>{168,91}</string>
                <key>textureRect</key>
                <string>{{175,841},{168,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_37.bmp_02 拷贝 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,91}</string>
                <key>spriteSourceSize</key>
                <string>{167,91}</string>
                <key>textureRect</key>
                <string>{{268,841},{167,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_39.bmp_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,176}</string>
                <key>spriteSourceSize</key>
                <string>{173,176}</string>
                <key>textureRect</key>
                <string>{{1285,971},{173,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_40.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,71}</string>
                <key>textureRect</key>
                <string>{{382,1005},{146,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_41.bmp_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,71}</string>
                <key>textureRect</key>
                <string>{{455,1005},{146,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_41.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,176}</string>
                <key>spriteSourceSize</key>
                <string>{123,176}</string>
                <key>textureRect</key>
                <string>{{666,1005},{123,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_50.bmp_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,79}</string>
                <key>spriteSourceSize</key>
                <string>{50,79}</string>
                <key>textureRect</key>
                <string>{{1778,929},{50,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_53.bmp_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,49}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1598,904},{66,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_57.bmp_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{933,466},{57,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_59.bmp_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,46}</string>
                <key>spriteSourceSize</key>
                <string>{75,46}</string>
                <key>textureRect</key>
                <string>{{1212,417},{75,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_62.bmp_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,66}</string>
                <key>spriteSourceSize</key>
                <string>{106,66}</string>
                <key>textureRect</key>
                <string>{{1778,1043},{106,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_74.bmp_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,93}</string>
                <key>spriteSourceSize</key>
                <string>{134,93}</string>
                <key>textureRect</key>
                <string>{{571,1005},{134,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_74.bmp_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,149}</string>
                <key>spriteSourceSize</key>
                <string>{114,149}</string>
                <key>textureRect</key>
                <string>{{796,841},{114,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_74.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{1847,308},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_85.bmp_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{844,992},{120,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_88.bmp_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,51}</string>
                <key>spriteSourceSize</key>
                <string>{88,51}</string>
                <key>textureRect</key>
                <string>{{1289,412},{88,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1737,753},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{1667,713},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{1778,864},{63,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_89.bmp_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,48}</string>
                <key>spriteSourceSize</key>
                <string>{69,48}</string>
                <key>textureRect</key>
                <string>{{1666,904},{69,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{687,1130},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_91.bmp_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{1778,794},{68,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_91.bmp_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,46}</string>
                <key>textureRect</key>
                <string>{{1130,417},{80,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_92.bmp_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,53}</string>
                <key>textureRect</key>
                <string>{{1147,1057},{79,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_93.bmp_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{1733,833},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_93.bmp_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1737,793},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_97.bmp_091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1737,879},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_97.bmp_093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{1737,713},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Trophy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{88,96}</string>
                <key>textureRect</key>
                <string>{{1847,218},{88,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>assistIcon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{1147,971},{84,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>assistIcon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,112}</string>
                <key>spriteSourceSize</key>
                <string>{135,112}</string>
                <key>textureRect</key>
                <string>{{45,1011},{135,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>assistIcon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{1846,1043},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>assistIcon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,95}</string>
                <key>spriteSourceSize</key>
                <string>{103,95}</string>
                <key>textureRect</key>
                <string>{{837,744},{103,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>assistIcon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,89}</string>
                <key>spriteSourceSize</key>
                <string>{103,89}</string>
                <key>textureRect</key>
                <string>{{732,750},{103,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>assistIcon_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,95}</string>
                <key>spriteSourceSize</key>
                <string>{101,95}</string>
                <key>textureRect</key>
                <string>{{1680,407},{101,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,190}</string>
                <key>spriteSourceSize</key>
                <string>{316,190}</string>
                <key>textureRect</key>
                <string>{{1463,89},{316,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,190}</string>
                <key>spriteSourceSize</key>
                <string>{316,190}</string>
                <key>textureRect</key>
                <string>{{1655,89},{316,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,189}</string>
                <key>spriteSourceSize</key>
                <string>{316,189}</string>
                <key>textureRect</key>
                <string>{{1836,407},{316,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,190}</string>
                <key>spriteSourceSize</key>
                <string>{316,190}</string>
                <key>textureRect</key>
                <string>{{1460,959},{316,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,190}</string>
                <key>spriteSourceSize</key>
                <string>{316,190}</string>
                <key>textureRect</key>
                <string>{{1518,521},{316,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,190}</string>
                <key>spriteSourceSize</key>
                <string>{316,190}</string>
                <key>textureRect</key>
                <string>{{1833,725},{316,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1777,407},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_btn_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1667,761},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,38}</string>
                <key>textureRect</key>
                <string>{{1228,1057},{53,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>endlessImg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,59}</string>
                <key>spriteSourceSize</key>
                <string>{245,59}</string>
                <key>textureRect</key>
                <string>{{942,744},{245,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,208}</string>
                <key>spriteSourceSize</key>
                <string>{314,208}</string>
                <key>textureRect</key>
                <string>{{1202,523},{314,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,134}</string>
                <key>spriteSourceSize</key>
                <string>{178,134}</string>
                <key>textureRect</key>
                <string>{{159,1011},{178,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,162}</string>
                <key>spriteSourceSize</key>
                <string>{433,162}</string>
                <key>textureRect</key>
                <string>{{361,841},{433,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,187}</string>
                <key>spriteSourceSize</key>
                <string>{212,187}</string>
                <key>textureRect</key>
                <string>{{1013,524},{212,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{265,231}</string>
                <key>textureRect</key>
                <string>{{1076,738},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,180}</string>
                <key>spriteSourceSize</key>
                <string>{119,180}</string>
                <key>textureRect</key>
                <string>{{965,991},{119,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mapName_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,41}</string>
                <key>spriteSourceSize</key>
                <string>{141,41}</string>
                <key>textureRect</key>
                <string>{{339,1010},{141,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mapName_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,41}</string>
                <key>spriteSourceSize</key>
                <string>{142,41}</string>
                <key>textureRect</key>
                <string>{{528,1005},{142,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mapName_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,41}</string>
                <key>spriteSourceSize</key>
                <string>{173,41}</string>
                <key>textureRect</key>
                <string>{{1847,132},{173,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapName_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,41}</string>
                <key>spriteSourceSize</key>
                <string>{171,41}</string>
                <key>textureRect</key>
                <string>{{1847,175},{171,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapName_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,41}</string>
                <key>spriteSourceSize</key>
                <string>{139,41}</string>
                <key>textureRect</key>
                <string>{{2,1011},{139,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mapName_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,41}</string>
                <key>spriteSourceSize</key>
                <string>{174,41}</string>
                <key>textureRect</key>
                <string>{{1847,89},{174,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optionIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{1667,833},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,71}</string>
                <key>textureRect</key>
                <string>{{1948,1043},{69,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zombie_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,64}</string>
                <key>spriteSourceSize</key>
                <string>{87,64}</string>
                <key>textureRect</key>
                <string>{{1932,308},{87,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,86}</string>
                <key>spriteSourceSize</key>
                <string>{63,86}</string>
                <key>textureRect</key>
                <string>{{1945,218},{63,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>九宫格用.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,435}</string>
                <key>spriteSourceSize</key>
                <string>{24,435}</string>
                <key>textureRect</key>
                <string>{{788,89},{24,435}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>任务奖励.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,34}</string>
                <key>spriteSourceSize</key>
                <string>{107,34}</string>
                <key>textureRect</key>
                <string>{{844,1114},{107,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>僵尸商店.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,62}</string>
                <key>spriteSourceSize</key>
                <string>{228,62}</string>
                <key>textureRect</key>
                <string>{{1343,733},{228,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>充值.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{1777,459},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>出发.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,47}</string>
                <key>spriteSourceSize</key>
                <string>{91,47}</string>
                <key>textureRect</key>
                <string>{{1037,417},{91,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商店.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,71}</string>
                <key>spriteSourceSize</key>
                <string>{237,71}</string>
                <key>textureRect</key>
                <string>{{1003,744},{237,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 10 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{659,54}</string>
                <key>spriteSourceSize</key>
                <string>{659,54}</string>
                <key>textureRect</key>
                <string>{{732,89},{659,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,223}</string>
                <key>spriteSourceSize</key>
                <string>{216,223}</string>
                <key>textureRect</key>
                <string>{{788,526},{216,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{837,555}</string>
                <key>spriteSourceSize</key>
                <string>{837,555}</string>
                <key>textureRect</key>
                <string>{{175,2},{837,555}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,102}</string>
                <key>spriteSourceSize</key>
                <string>{375,102}</string>
                <key>textureRect</key>
                <string>{{933,89},{375,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,94}</string>
                <key>spriteSourceSize</key>
                <string>{107,94}</string>
                <key>textureRect</key>
                <string>{{1379,412},{107,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 2 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,53}</string>
                <key>textureRect</key>
                <string>{{1778,713},{79,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,85}</string>
                <key>spriteSourceSize</key>
                <string>{1280,85}</string>
                <key>textureRect</key>
                <string>{{732,2},{1280,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 4 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,28}</string>
                <key>spriteSourceSize</key>
                <string>{330,28}</string>
                <key>textureRect</key>
                <string>{{953,1114},{330,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 4 (6) 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,67}</string>
                <key>spriteSourceSize</key>
                <string>{189,67}</string>
                <key>textureRect</key>
                <string>{{1598,713},{189,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 8 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,117}</string>
                <key>spriteSourceSize</key>
                <string>{412,117}</string>
                <key>textureRect</key>
                <string>{{814,89},{412,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,189}</string>
                <key>spriteSourceSize</key>
                <string>{224,189}</string>
                <key>textureRect</key>
                <string>{{1407,733},{224,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>组 2(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,112}</string>
                <key>spriteSourceSize</key>
                <string>{203,112}</string>
                <key>textureRect</key>
                <string>{{1475,407},{203,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>组 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1007,171}</string>
                <key>spriteSourceSize</key>
                <string>{1007,171}</string>
                <key>textureRect</key>
                <string>{{2,2},{1007,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>购买 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,56}</string>
                <key>spriteSourceSize</key>
                <string>{183,56}</string>
                <key>textureRect</key>
                <string>{{999,466},{183,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>购买.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,56}</string>
                <key>spriteSourceSize</key>
                <string>{183,56}</string>
                <key>textureRect</key>
                <string>{{1184,465},{183,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>homeMain.png</string>
            <key>size</key>
            <string>{2027,1153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4f21e78bb060e7f0a4b89d3c21c3b83:efa942ed9f8e5ef015e0ca3b68ffe4b0:637191e2cb8bcacf27a6edf1c9f79d0f$</string>
            <key>textureFileName</key>
            <string>homeMain.png</string>
        </dict>
    </dict>
</plist>
