<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{231,463},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_15.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,162}</string>
                <key>spriteSourceSize</key>
                <string>{433,162}</string>
                <key>textureRect</key>
                <string>{{2,89},{433,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_28.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,91}</string>
                <key>spriteSourceSize</key>
                <string>{168,91}</string>
                <key>textureRect</key>
                <string>{{1533,193},{168,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_34.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,208}</string>
                <key>spriteSourceSize</key>
                <string>{314,208}</string>
                <key>textureRect</key>
                <string>{{2,253},{314,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_37.bmp_02 拷贝 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,91}</string>
                <key>spriteSourceSize</key>
                <string>{167,91}</string>
                <key>textureRect</key>
                <string>{{1533,286},{167,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_39.bmp_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,176}</string>
                <key>spriteSourceSize</key>
                <string>{173,176}</string>
                <key>textureRect</key>
                <string>{{432,282},{173,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_40.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,71}</string>
                <key>textureRect</key>
                <string>{{991,322},{146,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_41.bmp_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,71}</string>
                <key>textureRect</key>
                <string>{{1200,354},{146,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_41.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,176}</string>
                <key>spriteSourceSize</key>
                <string>{123,176}</string>
                <key>textureRect</key>
                <string>{{1761,2},{123,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_47.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{265,231}</string>
                <key>textureRect</key>
                <string>{{761,89},{265,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_53.bmp_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,49}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{732,436},{66,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_59.bmp_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,46}</string>
                <key>spriteSourceSize</key>
                <string>{75,46}</string>
                <key>textureRect</key>
                <string>{{84,463},{75,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_62.bmp_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,187}</string>
                <key>spriteSourceSize</key>
                <string>{212,187}</string>
                <key>textureRect</key>
                <string>{{1246,165},{212,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_62.bmp_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,66}</string>
                <key>spriteSourceSize</key>
                <string>{106,66}</string>
                <key>textureRect</key>
                <string>{{1458,404},{106,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_74.bmp_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,93}</string>
                <key>spriteSourceSize</key>
                <string>{134,93}</string>
                <key>textureRect</key>
                <string>{{1064,314},{134,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_74.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{1161,427},{83,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_85.bmp_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{869,322},{120,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_88.bmp_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,51}</string>
                <key>spriteSourceSize</key>
                <string>{88,51}</string>
                <key>textureRect</key>
                <string>{{1342,440},{88,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1823,448},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{161,463},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{800,436},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,48}</string>
                <key>spriteSourceSize</key>
                <string>{69,48}</string>
                <key>textureRect</key>
                <string>{{1663,437},{69,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_89.bmp_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{732,282},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_91.bmp_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{318,458},{68,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_91.bmp_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,46}</string>
                <key>textureRect</key>
                <string>{{2,463},{80,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_92.bmp_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,53}</string>
                <key>textureRect</key>
                <string>{{432,457},{79,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_93.bmp_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{388,458},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_93.bmp_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{865,443},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_97.bmp_091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{905,443},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_97.bmp_093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{1200,314},{39,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Trophy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{88,96}</string>
                <key>textureRect</key>
                <string>{{1703,193},{88,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>assistIcon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,108}</string>
                <key>spriteSourceSize</key>
                <string>{84,108}</string>
                <key>textureRect</key>
                <string>{{1348,354},{84,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>assistIcon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,112}</string>
                <key>spriteSourceSize</key>
                <string>{135,112}</string>
                <key>textureRect</key>
                <string>{{732,322},{135,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>assistIcon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{1767,291},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>assistIcon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,95}</string>
                <key>spriteSourceSize</key>
                <string>{103,95}</string>
                <key>textureRect</key>
                <string>{{1718,396},{103,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>assistIcon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,89}</string>
                <key>spriteSourceSize</key>
                <string>{103,89}</string>
                <key>textureRect</key>
                <string>{{1793,180},{103,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>assistIcon_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,95}</string>
                <key>spriteSourceSize</key>
                <string>{101,95}</string>
                <key>textureRect</key>
                <string>{{1064,409},{101,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1823,396},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,38}</string>
                <key>textureRect</key>
                <string>{{674,467},{53,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>optionIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{1597,437},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,71}</string>
                <key>spriteSourceSize</key>
                <string>{69,71}</string>
                <key>textureRect</key>
                <string>{{1526,437},{69,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,64}</string>
                <key>spriteSourceSize</key>
                <string>{87,64}</string>
                <key>textureRect</key>
                <string>{{1253,427},{87,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombie_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,86}</string>
                <key>spriteSourceSize</key>
                <string>{63,86}</string>
                <key>textureRect</key>
                <string>{{1702,291},{63,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>僵尸商店.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,62}</string>
                <key>spriteSourceSize</key>
                <string>{228,62}</string>
                <key>textureRect</key>
                <string>{{610,282},{228,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>商店.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,71}</string>
                <key>spriteSourceSize</key>
                <string>{237,71}</string>
                <key>textureRect</key>
                <string>{{1460,165},{237,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,249}</string>
                <key>spriteSourceSize</key>
                <string>{161,249}</string>
                <key>textureRect</key>
                <string>{{1284,2},{161,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,223}</string>
                <key>spriteSourceSize</key>
                <string>{216,223}</string>
                <key>textureRect</key>
                <string>{{1028,89},{216,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 2 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,53}</string>
                <key>textureRect</key>
                <string>{{513,457},{79,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,85}</string>
                <key>spriteSourceSize</key>
                <string>{1280,85}</string>
                <key>textureRect</key>
                <string>{{2,2},{1280,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,191}</string>
                <key>spriteSourceSize</key>
                <string>{322,191}</string>
                <key>textureRect</key>
                <string>{{437,89},{322,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,189}</string>
                <key>spriteSourceSize</key>
                <string>{224,189}</string>
                <key>textureRect</key>
                <string>{{1535,2},{224,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>组 2(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,112}</string>
                <key>spriteSourceSize</key>
                <string>{203,112}</string>
                <key>textureRect</key>
                <string>{{318,253},{203,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>购买 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,56}</string>
                <key>spriteSourceSize</key>
                <string>{183,56}</string>
                <key>textureRect</key>
                <string>{{674,282},{183,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>购买.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,56}</string>
                <key>spriteSourceSize</key>
                <string>{183,56}</string>
                <key>textureRect</key>
                <string>{{1533,379},{183,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>homeMain.png</string>
            <key>size</key>
            <string>{1886,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4549ed9a9960b2703d96c6326bcb02f:6298b030f392ae9be3e6a61c818aebd3:637191e2cb8bcacf27a6edf1c9f79d0f$</string>
            <key>textureFileName</key>
            <string>homeMain.png</string>
        </dict>
    </dict>
</plist>
