<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{954,89},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_15.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,162}</string>
                <key>spriteSourceSize</key>
                <string>{433,162}</string>
                <key>textureRect</key>
                <string>{{2,2},{433,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_28.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,91}</string>
                <key>spriteSourceSize</key>
                <string>{168,91}</string>
                <key>textureRect</key>
                <string>{{241,417},{168,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_34.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,208}</string>
                <key>spriteSourceSize</key>
                <string>{314,208}</string>
                <key>textureRect</key>
                <string>{{592,89},{314,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_37.bmp_02 拷贝 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,91}</string>
                <key>spriteSourceSize</key>
                <string>{167,91}</string>
                <key>textureRect</key>
                <string>{{501,413},{167,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_39.bmp_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,176}</string>
                <key>spriteSourceSize</key>
                <string>{173,176}</string>
                <key>textureRect</key>
                <string>{{1374,327},{173,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_40.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,71}</string>
                <key>textureRect</key>
                <string>{{166,2},{146,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_41.bmp_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,71}</string>
                <key>spriteSourceSize</key>
                <string>{146,71}</string>
                <key>textureRect</key>
                <string>{{1191,363},{146,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_41.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,176}</string>
                <key>spriteSourceSize</key>
                <string>{123,176}</string>
                <key>textureRect</key>
                <string>{{1013,364},{123,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_47.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,231}</string>
                <key>spriteSourceSize</key>
                <string>{265,231}</string>
                <key>textureRect</key>
                <string>{{166,150},{265,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_53.bmp_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,49}</string>
                <key>spriteSourceSize</key>
                <string>{66,49}</string>
                <key>textureRect</key>
                <string>{{1549,327},{66,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_59.bmp_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,46}</string>
                <key>spriteSourceSize</key>
                <string>{75,46}</string>
                <key>textureRect</key>
                <string>{{320,89},{75,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_62.bmp_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,187}</string>
                <key>spriteSourceSize</key>
                <string>{212,187}</string>
                <key>textureRect</key>
                <string>{{1374,138},{212,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_74.bmp_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,93}</string>
                <key>spriteSourceSize</key>
                <string>{134,93}</string>
                <key>textureRect</key>
                <string>{{1523,2},{134,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_74.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,90}</string>
                <key>spriteSourceSize</key>
                <string>{83,90}</string>
                <key>textureRect</key>
                <string>{{670,405},{83,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_88.bmp_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,51}</string>
                <key>spriteSourceSize</key>
                <string>{88,51}</string>
                <key>textureRect</key>
                <string>{{755,405},{88,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_89.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1143,89},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,46}</string>
                <key>spriteSourceSize</key>
                <string>{68,46}</string>
                <key>textureRect</key>
                <string>{{884,89},{68,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,52}</string>
                <key>spriteSourceSize</key>
                <string>{63,52}</string>
                <key>textureRect</key>
                <string>{{1549,378},{63,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,48}</string>
                <key>spriteSourceSize</key>
                <string>{69,48}</string>
                <key>textureRect</key>
                <string>{{1549,432},{69,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_89.bmp_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{965,364},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_91.bmp_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,52}</string>
                <key>spriteSourceSize</key>
                <string>{68,52}</string>
                <key>textureRect</key>
                <string>{{1264,418},{68,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_91.bmp_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,46}</string>
                <key>textureRect</key>
                <string>{{802,89},{80,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_92.bmp_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,53}</string>
                <key>textureRect</key>
                <string>{{239,89},{79,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_93.bmp_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{1004,89},{44,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_93.bmp_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1183,89},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_97.bmp_091.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{1223,89},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_97.bmp_093.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,38}</string>
                <key>spriteSourceSize</key>
                <string>{39,38}</string>
                <key>textureRect</key>
                <string>{{1048,89},{39,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Trophy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{88,96}</string>
                <key>textureRect</key>
                <string>{{411,413},{88,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1318,418},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,38}</string>
                <key>textureRect</key>
                <string>{{1088,89},{53,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商店.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,71}</string>
                <key>spriteSourceSize</key>
                <string>{237,71}</string>
                <key>textureRect</key>
                <string>{{2,437},{237,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,249}</string>
                <key>spriteSourceSize</key>
                <string>{161,249}</string>
                <key>textureRect</key>
                <string>{{802,138},{161,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,223}</string>
                <key>spriteSourceSize</key>
                <string>{216,223}</string>
                <key>textureRect</key>
                <string>{{1156,138},{216,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 2 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,53}</string>
                <key>textureRect</key>
                <string>{{1264,363},{79,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,85}</string>
                <key>spriteSourceSize</key>
                <string>{1280,85}</string>
                <key>textureRect</key>
                <string>{{241,2},{1280,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,191}</string>
                <key>spriteSourceSize</key>
                <string>{322,191}</string>
                <key>textureRect</key>
                <string>{{399,89},{322,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,189}</string>
                <key>spriteSourceSize</key>
                <string>{224,189}</string>
                <key>textureRect</key>
                <string>{{965,138},{224,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>组 2(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,112}</string>
                <key>spriteSourceSize</key>
                <string>{203,112}</string>
                <key>textureRect</key>
                <string>{{808,389},{203,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>homeMain.png</string>
            <key>size</key>
            <string>{1618,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebf2c896d9c2a391ac7f68104aa2becd:b54128f628a751a68f8c36d7ea2a2f91:637191e2cb8bcacf27a6edf1c9f79d0f$</string>
            <key>textureFileName</key>
            <string>homeMain.png</string>
        </dict>
    </dict>
</plist>
