<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ID_75.bmp_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,141}</string>
                <key>spriteSourceSize</key>
                <string>{145,141}</string>
                <key>textureRect</key>
                <string>{{355,738},{145,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_85.bmp_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,119}</string>
                <key>spriteSourceSize</key>
                <string>{120,119}</string>
                <key>textureRect</key>
                <string>{{358,885},{120,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_89.bmp_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{355,1248},{64,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_93.bmp_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,64}</string>
                <key>spriteSourceSize</key>
                <string>{94,64}</string>
                <key>textureRect</key>
                <string>{{358,1095},{94,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skinIcon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,87}</string>
                <key>spriteSourceSize</key>
                <string>{104,87}</string>
                <key>textureRect</key>
                <string>{{358,1006},{104,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skinIcon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,87}</string>
                <key>spriteSourceSize</key>
                <string>{96,87}</string>
                <key>textureRect</key>
                <string>{{2,1319},{96,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinIcon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,88}</string>
                <key>spriteSourceSize</key>
                <string>{95,88}</string>
                <key>textureRect</key>
                <string>{{91,1319},{95,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinIcon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,86}</string>
                <key>spriteSourceSize</key>
                <string>{95,86}</string>
                <key>textureRect</key>
                <string>{{181,1319},{95,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinIcon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{358,1319},{90,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinIcon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,87}</string>
                <key>spriteSourceSize</key>
                <string>{94,87}</string>
                <key>textureRect</key>
                <string>{{269,1319},{94,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skinIcon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,85}</string>
                <key>spriteSourceSize</key>
                <string>{93,85}</string>
                <key>textureRect</key>
                <string>{{358,1161},{93,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>升级不足框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,351}</string>
                <key>spriteSourceSize</key>
                <string>{579,351}</string>
                <key>textureRect</key>
                <string>{{2,738},{579,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>升级框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{734,468}</string>
                <key>spriteSourceSize</key>
                <string>{734,468}</string>
                <key>textureRect</key>
                <string>{{2,2},{734,468}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 23(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,26}</string>
                <key>spriteSourceSize</key>
                <string>{31,26}</string>
                <key>textureRect</key>
                <string>{{464,1006},{31,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,27}</string>
                <key>spriteSourceSize</key>
                <string>{29,27}</string>
                <key>textureRect</key>
                <string>{{464,1077},{29,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>组 2 拷贝 14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,28}</string>
                <key>spriteSourceSize</key>
                <string>{34,28}</string>
                <key>textureRect</key>
                <string>{{421,1248},{34,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>血量 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{454,1106},{81,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>速度.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,43}</string>
                <key>spriteSourceSize</key>
                <string>{82,43}</string>
                <key>textureRect</key>
                <string>{{453,1189},{82,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>金币图标.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{451,1273},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>钻石图标.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,29}</string>
                <key>spriteSourceSize</key>
                <string>{41,29}</string>
                <key>textureRect</key>
                <string>{{464,1034},{41,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{498,1417}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b498a08ff7699ed4c365bbe54bd7306:4a13a739870cc494c2e233ded27de014:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
