<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ID_14.bmp_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{693,417}</string>
                <key>spriteSourceSize</key>
                <string>{693,417}</string>
                <key>textureRect</key>
                <string>{{2,2},{693,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_14.bmp_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,48}</string>
                <key>spriteSourceSize</key>
                <string>{325,48}</string>
                <key>textureRect</key>
                <string>{{158,929},{325,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_15.bmp_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,417}</string>
                <key>spriteSourceSize</key>
                <string>{692,417}</string>
                <key>textureRect</key>
                <string>{{2,421},{692,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_15.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,87}</string>
                <key>spriteSourceSize</key>
                <string>{345,87}</string>
                <key>textureRect</key>
                <string>{{158,840},{345,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_35.bmp_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,77}</string>
                <key>spriteSourceSize</key>
                <string>{141,77}</string>
                <key>textureRect</key>
                <string>{{965,379},{141,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_4.bmp_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,70}</string>
                <key>spriteSourceSize</key>
                <string>{252,70}</string>
                <key>textureRect</key>
                <string>{{650,853},{252,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_48.bmp_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,165}</string>
                <key>spriteSourceSize</key>
                <string>{192,165}</string>
                <key>textureRect</key>
                <string>{{1121,2},{192,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_48.bmp_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,120}</string>
                <key>spriteSourceSize</key>
                <string>{135,120}</string>
                <key>textureRect</key>
                <string>{{987,257},{135,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_50.bmp_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{1134,711},{36,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ID_57.bmp_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,64}</string>
                <key>spriteSourceSize</key>
                <string>{57,64}</string>
                <key>textureRect</key>
                <string>{{1042,761},{57,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_65.bmp_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,174}</string>
                <key>spriteSourceSize</key>
                <string>{153,174}</string>
                <key>textureRect</key>
                <string>{{696,518},{153,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_76.bmp_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1224,668},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_76.bmp_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,76}</string>
                <key>spriteSourceSize</key>
                <string>{56,76}</string>
                <key>textureRect</key>
                <string>{{1101,750},{56,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_83.bmp_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,143}</string>
                <key>spriteSourceSize</key>
                <string>{154,143}</string>
                <key>textureRect</key>
                <string>{{2,840},{154,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_85.bmp_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{976,108},{142,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_85.bmp_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,143}</string>
                <key>spriteSourceSize</key>
                <string>{143,143}</string>
                <key>textureRect</key>
                <string>{{505,840},{143,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_95.bmp_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,51}</string>
                <key>textureRect</key>
                <string>{{943,931},{60,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ID_95.bmp_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{1204,742},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1152,831},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamondIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,38}</string>
                <key>spriteSourceSize</key>
                <string>{53,38}</string>
                <key>textureRect</key>
                <string>{{1234,431},{53,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,73}</string>
                <key>spriteSourceSize</key>
                <string>{49,73}</string>
                <key>textureRect</key>
                <string>{{1005,930},{49,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,138}</string>
                <key>spriteSourceSize</key>
                <string>{117,138}</string>
                <key>textureRect</key>
                <string>{{980,458},{117,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,131}</string>
                <key>spriteSourceSize</key>
                <string>{33,131}</string>
                <key>textureRect</key>
                <string>{{852,816},{33,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,138}</string>
                <key>spriteSourceSize</key>
                <string>{118,138}</string>
                <key>textureRect</key>
                <string>{{1124,237},{118,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>status_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,78}</string>
                <key>spriteSourceSize</key>
                <string>{97,78}</string>
                <key>textureRect</key>
                <string>{{904,851},{97,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>status_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,74}</string>
                <key>spriteSourceSize</key>
                <string>{102,74}</string>
                <key>textureRect</key>
                <string>{{1127,486},{102,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>status_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,65}</string>
                <key>spriteSourceSize</key>
                <string>{96,65}</string>
                <key>textureRect</key>
                <string>{{1224,570},{96,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,25}</string>
                <key>spriteSourceSize</key>
                <string>{184,25}</string>
                <key>textureRect</key>
                <string>{{650,958},{184,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>任务失败.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,73}</string>
                <key>spriteSourceSize</key>
                <string>{258,73}</string>
                <key>textureRect</key>
                <string>{{696,443},{258,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>任务成功.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,76}</string>
                <key>spriteSourceSize</key>
                <string>{266,76}</string>
                <key>textureRect</key>
                <string>{{697,365},{266,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>关.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{836,958},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>切换.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,107}</string>
                <key>spriteSourceSize</key>
                <string>{105,107}</string>
                <key>textureRect</key>
                <string>{{1127,377},{105,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>原地复活，满血继续战斗.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,31}</string>
                <key>spriteSourceSize</key>
                <string>{243,31}</string>
                <key>textureRect</key>
                <string>{{650,925},{243,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>取消.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,38}</string>
                <key>spriteSourceSize</key>
                <string>{71,38}</string>
                <key>textureRect</key>
                <string>{{1079,828},{71,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 0 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{61,60}</string>
                <key>textureRect</key>
                <string>{{1204,814},{61,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,26}</string>
                <key>spriteSourceSize</key>
                <string>{123,26}</string>
                <key>textureRect</key>
                <string>{{1099,458},{123,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,157}</string>
                <key>spriteSourceSize</key>
                <string>{154,157}</string>
                <key>textureRect</key>
                <string>{{696,694},{154,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 135 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,172}</string>
                <key>spriteSourceSize</key>
                <string>{277,172}</string>
                <key>textureRect</key>
                <string>{{697,108},{277,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1231,486},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,56}</string>
                <key>spriteSourceSize</key>
                <string>{74,56}</string>
                <key>textureRect</key>
                <string>{{1003,827},{74,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 5 (3) 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,66}</string>
                <key>textureRect</key>
                <string>{{1120,169},{192,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 5 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,66}</string>
                <key>spriteSourceSize</key>
                <string>{192,66}</string>
                <key>textureRect</key>
                <string>{{1244,237},{192,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>奖励(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,43}</string>
                <key>textureRect</key>
                <string>{{1159,749},{80,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>好的.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{70,38}</string>
                <key>textureRect</key>
                <string>{{1130,927},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>子弹不足.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,104}</string>
                <key>spriteSourceSize</key>
                <string>{422,104}</string>
                <key>textureRect</key>
                <string>{{697,2},{422,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>开.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,23}</string>
                <key>spriteSourceSize</key>
                <string>{27,23}</string>
                <key>textureRect</key>
                <string>{{864,958},{27,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>攻击.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,144}</string>
                <key>spriteSourceSize</key>
                <string>{140,144}</string>
                <key>textureRect</key>
                <string>{{852,670},{140,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>无限子弹.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,22}</string>
                <key>spriteSourceSize</key>
                <string>{39,22}</string>
                <key>textureRect</key>
                <string>{{1291,570},{39,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>时间(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,43}</string>
                <key>spriteSourceSize</key>
                <string>{81,43}</string>
                <key>textureRect</key>
                <string>{{1003,885},{81,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>暂停.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,52}</string>
                <key>spriteSourceSize</key>
                <string>{46,52}</string>
                <key>textureRect</key>
                <string>{{895,931},{46,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>杀敌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,43}</string>
                <key>spriteSourceSize</key>
                <string>{82,43}</string>
                <key>textureRect</key>
                <string>{{1270,742},{82,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>立即复活.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,43}</string>
                <key>spriteSourceSize</key>
                <string>{150,43}</string>
                <key>textureRect</key>
                <string>{{1089,598},{150,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>终点.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,127}</string>
                <key>spriteSourceSize</key>
                <string>{150,127}</string>
                <key>textureRect</key>
                <string>{{851,518},{150,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>继续.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,46}</string>
                <key>spriteSourceSize</key>
                <string>{87,46}</string>
                <key>textureRect</key>
                <string>{{1267,826},{87,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>血条.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,13}</string>
                <key>spriteSourceSize</key>
                <string>{77,13}</string>
                <key>textureRect</key>
                <string>{{1108,379},{77,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>血量.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,42}</string>
                <key>spriteSourceSize</key>
                <string>{81,42}</string>
                <key>textureRect</key>
                <string>{{1086,868},{81,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>返回菜单.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,43}</string>
                <key>spriteSourceSize</key>
                <string>{147,43}</string>
                <key>textureRect</key>
                <string>{{1134,562},{147,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>这边.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,81}</string>
                <key>spriteSourceSize</key>
                <string>{288,81}</string>
                <key>textureRect</key>
                <string>{{697,282},{288,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>重新开始.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,45}</string>
                <key>spriteSourceSize</key>
                <string>{161,45}</string>
                <key>textureRect</key>
                <string>{{1042,598},{161,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>重试.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,42}</string>
                <key>spriteSourceSize</key>
                <string>{82,42}</string>
                <key>textureRect</key>
                <string>{{1130,883},{82,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>长按连击.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,43}</string>
                <key>spriteSourceSize</key>
                <string>{145,43}</string>
                <key>textureRect</key>
                <string>{{1179,562},{145,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>音乐.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{49,29}</string>
                <key>textureRect</key>
                <string>{{1274,431},{49,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>音乐开关.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,46}</string>
                <key>spriteSourceSize</key>
                <string>{212,46}</string>
                <key>textureRect</key>
                <string>{{994,598},{212,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>音量.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,29}</string>
                <key>spriteSourceSize</key>
                <string>{49,29}</string>
                <key>textureRect</key>
                <string>{{1214,876},{49,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameMain.png</string>
            <key>size</key>
            <string>{1315,985}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25fb5a84bd44061d125bfe4bf80c447a:b1120fadcf75385edf41a245f217a4f1:5880295da7156a23eee697325de0c5ab$</string>
            <key>textureFileName</key>
            <string>gameMain.png</string>
        </dict>
    </dict>
</plist>
