<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BUY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{1940,662},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,103}</string>
                <key>spriteSourceSize</key>
                <string>{512,103}</string>
                <key>textureRect</key>
                <string>{{1942,43},{512,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,104}</string>
                <key>spriteSourceSize</key>
                <string>{512,104}</string>
                <key>textureRect</key>
                <string>{{2,621},{512,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,102}</string>
                <key>textureRect</key>
                <string>{{1208,239},{512,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,103}</string>
                <key>spriteSourceSize</key>
                <string>{512,103}</string>
                <key>textureRect</key>
                <string>{{1208,134},{512,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desc_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,44}</string>
                <key>spriteSourceSize</key>
                <string>{618,44}</string>
                <key>textureRect</key>
                <string>{{1208,88},{618,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desc_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{840,45}</string>
                <key>spriteSourceSize</key>
                <string>{840,45}</string>
                <key>textureRect</key>
                <string>{{604,467},{840,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desc_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,43}</string>
                <key>spriteSourceSize</key>
                <string>{658,43}</string>
                <key>textureRect</key>
                <string>{{1282,43},{658,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>desc_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,45}</string>
                <key>spriteSourceSize</key>
                <string>{537,45}</string>
                <key>textureRect</key>
                <string>{{1004,514},{537,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dyan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{1986,2},{37,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,122}</string>
                <key>spriteSourceSize</key>
                <string>{258,122}</string>
                <key>textureRect</key>
                <string>{{1308,561},{258,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,120}</string>
                <key>spriteSourceSize</key>
                <string>{233,120}</string>
                <key>textureRect</key>
                <string>{{1523,343},{233,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,40}</string>
                <key>textureRect</key>
                <string>{{1722,299},{33,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mission.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,39}</string>
                <key>spriteSourceSize</key>
                <string>{702,39}</string>
                <key>textureRect</key>
                <string>{{1282,2},{702,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,59}</string>
                <key>spriteSourceSize</key>
                <string>{259,59}</string>
                <key>textureRect</key>
                <string>{{1543,465},{259,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,59}</string>
                <key>spriteSourceSize</key>
                <string>{216,59}</string>
                <key>textureRect</key>
                <string>{{1606,648},{216,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,59}</string>
                <key>spriteSourceSize</key>
                <string>{268,59}</string>
                <key>textureRect</key>
                <string>{{1568,526},{268,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,59}</string>
                <key>spriteSourceSize</key>
                <string>{269,59}</string>
                <key>textureRect</key>
                <string>{{1568,587},{269,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分享获得.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,38}</string>
                <key>spriteSourceSize</key>
                <string>{98,38}</string>
                <key>textureRect</key>
                <string>{{557,621},{98,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>双倍收益.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,26}</string>
                <key>spriteSourceSize</key>
                <string>{92,26}</string>
                <key>textureRect</key>
                <string>{{1925,704},{92,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 138 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,48}</string>
                <key>spriteSourceSize</key>
                <string>{165,48}</string>
                <key>textureRect</key>
                <string>{{1308,685},{165,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 146 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{1446,467},{44,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,163}</string>
                <key>spriteSourceSize</key>
                <string>{132,163}</string>
                <key>textureRect</key>
                <string>{{1722,134},{132,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,125}</string>
                <key>spriteSourceSize</key>
                <string>{129,125}</string>
                <key>textureRect</key>
                <string>{{1758,299},{129,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 153.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1278,65}</string>
                <key>spriteSourceSize</key>
                <string>{1278,65}</string>
                <key>textureRect</key>
                <string>{{2,2},{1278,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 2 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,550}</string>
                <key>spriteSourceSize</key>
                <string>{600,550}</string>
                <key>textureRect</key>
                <string>{{2,69},{600,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,39}</string>
                <key>spriteSourceSize</key>
                <string>{98,39}</string>
                <key>textureRect</key>
                <string>{{516,621},{98,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 3 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,219}</string>
                <key>spriteSourceSize</key>
                <string>{398,219}</string>
                <key>textureRect</key>
                <string>{{604,514},{398,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,53}</string>
                <key>spriteSourceSize</key>
                <string>{129,53}</string>
                <key>textureRect</key>
                <string>{{1804,462},{129,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 352 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{602,396}</string>
                <key>spriteSourceSize</key>
                <string>{602,396}</string>
                <key>textureRect</key>
                <string>{{604,69},{602,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,48}</string>
                <key>spriteSourceSize</key>
                <string>{129,48}</string>
                <key>textureRect</key>
                <string>{{1475,685},{129,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,10}</string>
                <key>spriteSourceSize</key>
                <string>{133,10}</string>
                <key>textureRect</key>
                <string>{{1606,709},{133,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 6 拷贝 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,302}</string>
                <key>spriteSourceSize</key>
                <string>{163,302}</string>
                <key>textureRect</key>
                <string>{{1004,561},{163,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,55}</string>
                <key>spriteSourceSize</key>
                <string>{167,55}</string>
                <key>textureRect</key>
                <string>{{1885,266},{167,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,61}</string>
                <key>spriteSourceSize</key>
                <string>{145,61}</string>
                <key>textureRect</key>
                <string>{{1839,557},{145,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 81 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,313}</string>
                <key>spriteSourceSize</key>
                <string>{122,313}</string>
                <key>textureRect</key>
                <string>{{1208,343},{122,313}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>好友热玩.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,30}</string>
                <key>spriteSourceSize</key>
                <string>{114,30}</string>
                <key>textureRect</key>
                <string>{{1758,430},{114,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>建议使用.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,25}</string>
                <key>spriteSourceSize</key>
                <string>{99,25}</string>
                <key>textureRect</key>
                <string>{{1824,694},{99,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>更多游戏.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,79}</string>
                <key>spriteSourceSize</key>
                <string>{176,79}</string>
                <key>textureRect</key>
                <string>{{1856,88},{176,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>椭圆 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1874,435},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>热门游戏.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,40}</string>
                <key>spriteSourceSize</key>
                <string>{151,40}</string>
                <key>textureRect</key>
                <string>{{1839,620},{151,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>猜你喜欢.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,30}</string>
                <key>spriteSourceSize</key>
                <string>{114,30}</string>
                <key>textureRect</key>
                <string>{{1824,662},{114,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>视频获得.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,38}</string>
                <key>spriteSourceSize</key>
                <string>{98,38}</string>
                <key>textureRect</key>
                <string>{{1838,517},{98,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>试用.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,27}</string>
                <key>spriteSourceSize</key>
                <string>{50,27}</string>
                <key>textureRect</key>
                <string>{{1986,557},{50,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frontGame.png</string>
            <key>size</key>
            <string>{2047,735}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a93fad32f35f2e481198cf94fb97e78:f0212a127298335581cd900fc675fe39:ee9d27c9e88878f420d40e492441b097$</string>
            <key>textureFileName</key>
            <string>frontGame.png</string>
        </dict>
    </dict>
</plist>
