<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,73}</string>
                <key>spriteSourceSize</key>
                <string>{49,73}</string>
                <key>textureRect</key>
                <string>{{295,164},{49,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,109}</string>
                <key>spriteSourceSize</key>
                <string>{383,109}</string>
                <key>textureRect</key>
                <string>{{2,2},{383,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,49}</string>
                <key>spriteSourceSize</key>
                <string>{271,49}</string>
                <key>textureRect</key>
                <string>{{609,2},{271,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,25}</string>
                <key>spriteSourceSize</key>
                <string>{316,25}</string>
                <key>textureRect</key>
                <string>{{387,66},{316,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,25}</string>
                <key>spriteSourceSize</key>
                <string>{261,25}</string>
                <key>textureRect</key>
                <string>{{2,191},{261,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,25}</string>
                <key>spriteSourceSize</key>
                <string>{183,25}</string>
                <key>textureRect</key>
                <string>{{882,2},{183,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,25}</string>
                <key>spriteSourceSize</key>
                <string>{183,25}</string>
                <key>textureRect</key>
                <string>{{909,2},{183,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,25}</string>
                <key>spriteSourceSize</key>
                <string>{291,25}</string>
                <key>textureRect</key>
                <string>{{2,164},{291,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,49}</string>
                <key>spriteSourceSize</key>
                <string>{384,49}</string>
                <key>textureRect</key>
                <string>{{2,113},{384,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tip8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,25}</string>
                <key>spriteSourceSize</key>
                <string>{144,25}</string>
                <key>textureRect</key>
                <string>{{936,2},{144,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,162}</string>
                <key>spriteSourceSize</key>
                <string>{176,162}</string>
                <key>textureRect</key>
                <string>{{705,53},{176,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 176 拷贝 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,134}</string>
                <key>spriteSourceSize</key>
                <string>{282,134}</string>
                <key>textureRect</key>
                <string>{{388,93},{282,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层151.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,62}</string>
                <key>spriteSourceSize</key>
                <string>{220,62}</string>
                <key>textureRect</key>
                <string>{{387,2},{220,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{963,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:675a2dc8bce45af6e496e45ec251fd2b:2f1dd0db3c1a4646f1ff1834d81bfe29:6f6c407afce584d64ce65df7e3a7492e$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
