<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aname_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,44}</string>
                <key>spriteSourceSize</key>
                <string>{215,44}</string>
                <key>textureRect</key>
                <string>{{687,763},{215,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dyan_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{955,309},{37,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gname_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,52}</string>
                <key>spriteSourceSize</key>
                <string>{167,52}</string>
                <key>textureRect</key>
                <string>{{829,220},{167,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,162}</string>
                <key>spriteSourceSize</key>
                <string>{234,162}</string>
                <key>textureRect</key>
                <string>{{56,540},{234,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,40}</string>
                <key>textureRect</key>
                <string>{{955,274},{33,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>humanhead_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,168}</string>
                <key>spriteSourceSize</key>
                <string>{216,168}</string>
                <key>textureRect</key>
                <string>{{840,2},{216,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,10}</string>
                <key>spriteSourceSize</key>
                <string>{133,10}</string>
                <key>textureRect</key>
                <string>{{299,520},{133,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,164}</string>
                <key>spriteSourceSize</key>
                <string>{213,164}</string>
                <key>textureRect</key>
                <string>{{800,384},{213,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mname_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{146,52}</string>
                <key>textureRect</key>
                <string>{{377,353},{146,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sname_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,52}</string>
                <key>spriteSourceSize</key>
                <string>{236,52}</string>
                <key>textureRect</key>
                <string>{{2,540},{236,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapon_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,152}</string>
                <key>spriteSourceSize</key>
                <string>{222,152}</string>
                <key>textureRect</key>
                <string>{{504,384},{222,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,70}</string>
                <key>spriteSourceSize</key>
                <string>{333,70}</string>
                <key>textureRect</key>
                <string>{{505,2},{333,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 0(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,34}</string>
                <key>spriteSourceSize</key>
                <string>{39,34}</string>
                <key>textureRect</key>
                <string>{{955,348},{39,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{904,688},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 1 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,228}</string>
                <key>spriteSourceSize</key>
                <string>{212,228}</string>
                <key>textureRect</key>
                <string>{{220,540},{212,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 152.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,125}</string>
                <key>spriteSourceSize</key>
                <string>{129,125}</string>
                <key>textureRect</key>
                <string>{{377,222},{129,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,322}</string>
                <key>spriteSourceSize</key>
                <string>{308,322}</string>
                <key>textureRect</key>
                <string>{{505,74},{308,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 176.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,68}</string>
                <key>spriteSourceSize</key>
                <string>{183,68}</string>
                <key>textureRect</key>
                <string>{{434,353},{183,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 24 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,62}</string>
                <key>spriteSourceSize</key>
                <string>{195,62}</string>
                <key>textureRect</key>
                <string>{{308,770},{195,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>图层 26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,125}</string>
                <key>spriteSourceSize</key>
                <string>{218,125}</string>
                <key>textureRect</key>
                <string>{{377,2},{218,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,295}</string>
                <key>spriteSourceSize</key>
                <string>{536,295}</string>
                <key>textureRect</key>
                <string>{{2,2},{536,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 7 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{516,76}</string>
                <key>spriteSourceSize</key>
                <string>{516,76}</string>
                <key>textureRect</key>
                <string>{{299,2},{516,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>图层 85 (3) 拷贝 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,223}</string>
                <key>spriteSourceSize</key>
                <string>{219,223}</string>
                <key>textureRect</key>
                <string>{{579,538},{219,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>圆角矩形 1 拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,46}</string>
                <key>spriteSourceSize</key>
                <string>{206,46}</string>
                <key>textureRect</key>
                <string>{{800,550},{206,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>已领取.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,88}</string>
                <key>spriteSourceSize</key>
                <string>{124,88}</string>
                <key>textureRect</key>
                <string>{{829,274},{124,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>成功领取.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,52}</string>
                <key>spriteSourceSize</key>
                <string>{196,52}</string>
                <key>textureRect</key>
                <string>{{2,778},{196,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>提示.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,58}</string>
                <key>spriteSourceSize</key>
                <string>{106,58}</string>
                <key>textureRect</key>
                <string>{{200,776},{106,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>普通领取.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,67}</string>
                <key>spriteSourceSize</key>
                <string>{180,67}</string>
                <key>textureRect</key>
                <string>{{505,767},{180,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>每日签到.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,59}</string>
                <key>spriteSourceSize</key>
                <string>{224,59}</string>
                <key>textureRect</key>
                <string>{{518,538},{224,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>第一天.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{74,28}</string>
                <key>textureRect</key>
                <string>{{800,688},{74,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>第七天.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{74,28}</string>
                <key>textureRect</key>
                <string>{{800,718},{74,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>第三天.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{74,28}</string>
                <key>textureRect</key>
                <string>{{904,771},{74,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>第二天.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{74,28}</string>
                <key>textureRect</key>
                <string>{{904,801},{74,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>第五天.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{74,28}</string>
                <key>textureRect</key>
                <string>{{728,384},{74,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>第六天.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{74,28}</string>
                <key>textureRect</key>
                <string>{{728,460},{74,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>第四天.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,28}</string>
                <key>spriteSourceSize</key>
                <string>{74,28}</string>
                <key>textureRect</key>
                <string>{{758,384},{74,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>组 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,88}</string>
                <key>spriteSourceSize</key>
                <string>{202,88}</string>
                <key>textureRect</key>
                <string>{{800,598},{202,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>虎鲸机甲X10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,82}</string>
                <key>spriteSourceSize</key>
                <string>{227,82}</string>
                <key>textureRect</key>
                <string>{{434,538},{227,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>signIn.png</string>
            <key>size</key>
            <string>{1015,836}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5580891a2020cf5dcd670ebde7e1faa:6c53ce84fe3f3b311304b853d1410dd9:e48bfb9f3ee5f2e5a3e03c3184bf709a$</string>
            <key>textureFileName</key>
            <string>signIn.png</string>
        </dict>
    </dict>
</plist>
